.obsidian
.vscode

# Private folder
alee
dllee
hahseo
jaehulee
jibang
jokang
jseo
juha
junselee
kiyolee
kyoulee
mgo
mher
mijeong
sangtale
seonghle
seongspa
seongyle
seoyoo
seungsle
sunhwang
susong
tyi
ulee
wchae
yukwak
